<configuration>
	<connectionStrings>
		<add name="Northwind" connectionString="server=.;database=Northwind;Integrated Security=SSPI;"/>
		<add name="Yukon" connectionString="server=bochum\yukon;database=Northwind;Integrated Security=SSPI;"/>
	</connectionStrings>
	<system.web>
		<cache>
			<sqlCacheDependency enabled="true" pollTime="5000">
				<databases>
					<add name="Northwind" connectionStringName="Northwind"/>
					<add name="Yukon" connectionStringName="Yukon"/>
				</databases>
			</sqlCacheDependency>
		</cache>
		<compilation debug="true"/></system.web>
</configuration>
