<?xml version="1.0"?>
<configuration>
	<system.web>
	    <compilation debug="true"/>

	    <authentication mode="Forms"/>
		
		<authorization>
			<deny users="?"/>
		</authorization>
		
		<membership>
			<providers/>
		</membership>
		
		<roleManager enabled="true">
			<providers/>
		</roleManager>
		
		<personalization>
		    <profile>
		        <property name="Nickname" />
		        <property name="Birthday" type="System.DateTime" />
		        <property name="YearsExperienceASPNET" type="int" defaultValue="1"/>
		        <property name="ZIPCode" />
		    </profile>
		</personalization>
		
		<pages enablePersonalization="true" />

    </system.web>
</configuration>
