<?xml version="1.0"?>
<configuration>
	<system.web>
	    <authentication mode="Forms"/>
		<authorization>
			<allow users="*"/>
		</authorization>
        <anonymousIdentification 
            enabled="true"
        />
		<membership>
			<providers/>
		</membership>
		<roleManager enabled="true">
			<providers/>
		</roleManager>
		<compilation debug="true"/></system.web>
</configuration>
