<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <system.web>
        <compilation debug="true" />
		<personalization>
            <profile>
                <property name="Theme" defaultValue="BasicBlue" />
            </profile>
        </personalization>
    </system.web>
</configuration>
